footer {
  background-color: #191A19 !important;
  position: relative !important;
  width: 100%;
  padding-bottom: 50px;
}

footer img {
  width: 40px;
  margin: 16px;
}

main {
  height: 100%;
}

.logofooter {
  width: 60px;
  margin-right: 16px;
}