.logo {
  width: 60px !important;
}

header {
  background-color: #191A19 !important;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.cabecalho {
  display: flex !important;
  justify-content: space-between !important;
  padding: 16px 32px; 
}

.navigate-links {
  display: flex !important;
  align-items: center !important;
  gap: 18px !important;
}

.nav-link {
  color: #ffffff !important;
  text-decoration: none !important;
}