.logo {
  width: 50px;
}

header {
  background-color: #191A19;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
}

nav {
  display: flex;
  align-items: center;
  gap: 18px;
}

nav a {
  text-decoration: none;
  font-size: 24px;
  color: whitesmoke
}