.texto-descritivo {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.homeDescricao {
  width: 1100px;
}

.lista-home {
  display: flex;
  justify-content: space-between;
  padding: 80px;
  margin-top: 60px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.imagem-home {
  width: 100%;
  display: flex;
  justify-content: center;
}

.botoes-home {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.div-botoes {
  display: flex;
  gap: 8px;
}

@media (max-width: 767px) {
  .lista-home {
    flex-direction: column;
    gap: 16px;
    border: 1px;
    margin: 8px;
    font-size: 24px;
    padding: 12px;
    margin-top: 38px;
  }

  .lista-home ul li {
    width: 100%;
  }

  .lista-home ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .listahome h3 {
    text-align: center;
  }
}