.form-login {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login-page {
  display: flex;
  justify-content: space-between;
  padding: 30px 200px;
}

.carInfo {
  width: 300px;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.loginRedes {
  display: flex;
  justify-content: space-between;
}

.botaoRedes {
  padding: 4px;
  width: 120px;
  color: white;
  border: 1px solid #1E5128;
  box-shadow: 0 0 40px 40px #191A19 inset, 0 0 0 0 #1E5128;
  transition: all 150ms ease-in-out;
  background-color: white;
  border-radius: 6px;
  vertical-align: middle;
}

.botaoRedes:hover {
  box-shadow: 0 0 10px 0 #191A19 inset, 0 0 10px #1E5128;
  color: #1E5128;
}

#botaoEntrar {
  width: 100%;
}

.navLogin {
  color: #1E5128 !important;
}

.acessarConta {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: auto;
}