.fotoNinja {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.informacaoNinja {
  height: 100px;
}

.botoes {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 767px) {
  .tabelaNinjas {
    font-size: 15px;
  }
}